body{
    background-image: url(../images\ \(9\).jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    color: rgba(246, 248, 243, 0.952);
    text-align: center;
  }